.App {
  text-align: middle;
  background-color: #015761;
  color: white;
}


.App-header {
  background-color: #015761;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkedin {
  max-height: 10vh;
}

.About {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #F1F0F0;
}

.column-left{
  width: 50%;
  float: left;
  height: 300px;
}

.column-right{
  width: 50%;
  float: right;
  height: 300px;
}

.navigation{
  left: 2vw;
  top: 2vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.nav1:hover{
  color: #F7DC4F !important;
  cursor: pointer;
}

.nav1:visited, .nav1:link, .nav1:active{
  text-decoration: none;
  color: inherit;
}

.nav2:hover{
  color: #F7DC4F !important;
  cursor: pointer;
}

.nav2:visited, .nav2:link, .nav2:active{
  text-decoration: none;
  color: inherit;
}

.nav3:hover{
  color: #F7DC4F !important;
  cursor: pointer;
}

.nav3:visited, .nav3:link, .nav3:active{
  text-decoration: none;
  color: inherit;
}

.nav4:visited, .nav4:link, .nav4:active{
  text-decoration: none;
  color: inherit;
}
.nav4:hover{
  color: #F7DC4F;
  cursor: pointer;
}

.code-button{
  background-color: #F7DC4F;
  border-radius: 4px;
  color: #015761;
}

.code-button:hover{
  background-color: #015761;
  color: #F7DC4F !important;
}

.code-button:visited, .code-button:link, .code-button:active{
  text-decoration: none;
  color: #015761;
}

.cv {
  border: solid 1px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item-a-p {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item-b {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
}

.item-b-p {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.item-c {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.item-c-p {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
}

.item-d {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 7;
}

.item-d-p {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}

html body {
  overflow-x: hidden;
}
