/* sidepanel.css */

.sidepanel {
    position: fixed;
    top: 0;
    left: -290px;
    width: 250px;
    height: 100%;
    background: #000022;
    color: white;
    transition: left 0.3s;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000; /* Ensure the side panel is in front */
}

.sidepanel ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sidepanel.open {
    left: 0;
}

.sidepanel a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.profile {
    display: block;
    margin: 20px auto;
    width: 170px; /* Adjust the width as needed */
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff; /* Make the image circular */
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25%;
    font-size: 36px;
    margin-left: 50px;
    justify-content: right;
}

.toggle-button {
    position: fixed; /* Change to fixed to position relative to the viewport */
    top: 20px;
    right: 20px; /* Adjust to position the button at the top right of the screen */
    width: 50px;
    height: 50px;
    background: #000022;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001; /* Ensure the button is in front of the side panel */
    font-size: 25px;
    border-radius: 50%;
    border-color: none;
}

.toggle-button:hover::before {
    width: 105%;
}
.toggle-button:hover{
    background-color: #575757;
}
.content {
    margin-top: 60px;
}

.socials{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.social-btn {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.social-btn:hover {
    color: #fff;
    text-shadow:0px 0px 30px #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .btn-8.active .navicon {
    color: #ff0; /* Change the color to your desired active color */
}

.btn-8 span {
    mix-blend-mode: difference;
}

.btn-8 {
    --tilt: 10px;
  
    display: block;
    box-sizing: border-box;
    padding: 5px 45px;

  
    position: relative;
    overflow: hidden;
    
    color: white;
    background: none;
  
    & span {
      mix-blend-mode: difference;
    }
  
    &:before,
    &:after {
      content: "";
      z-index: -1;
      width: calc(100% + var(--tilt));
      height: 100%;
  
      position: absolute;
      top: 0;
      background: white;
      clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
      transition: transform 0.6s;
    }
    &:before {
      left: calc(-100% - var(--tilt));
    }
    &:after {
      left: 100%;
      transform: rotate(180deg);
    }
    &:hover:before {
      transform: translateX(100%);
    }
    &:hover:after {
      transform: rotate(180deg) translateX(100%);
    }
  }

  .navicon.active {
    color: #ff0; /* Change the color to your desired active color */
}


